# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env/
venv/
.venv/

# Databases and data files
*.sqlite3
*.geojson
data/
cache/

# Test & coverage output
.coverage
htmlcov/
.pytest_cache/

# Editors/IDEs
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
